/* Shared utilities used across multiple components */
@layer utilities {
  .is-hidden {
    display: none !important;
  }

  .wc-hidden {
    display: none;
  }

  .wc-cursor-pointer {
    cursor: pointer;
  }
}
